on:
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '11'

      - name: Check out code
        uses: actions/checkout@v2

      - name: Build with Maven
        run: mvn clean install

      - name: Run tests
        run: mvn test
      